@charset "utf-8";
.clear::after{
    content: '';
    display: block;
    clear: both;
    height:0;
    overflow: hidden;
    visibility:hidden;
}
.left{
float: left;
}
.right{
    float: right;
}
.wraper{
    width: 1190px;
    margin: 0 auto;
}
header .Advertisement{
    width: 100%;
    height: 50px;
    background-color: #3c1158;
}
header .Advertisement div{
    width:980px;
    margin: 0 auto;
}
header .head-content{
    background-color: #f8f8f8;
    height: 30px;
    width: 100%;
    line-height: 30px;
    position: relative;
    z-index: 290;
}
.clear::after{
    content: '';
    display: block;
    clear: both;
    height:0;
    overflow: hidden;
    visibility:hidden;
}
/* 注册登录 */
header .wraper{
    width: 1200px;
    margin: 0 auto;    
}
header .longin li{
    float: left;
    margin-right:10px;
}
header .longin li span{
    font-weight: bold;
    color: #e62318;
    padding-right: 6px;
}
header .longin li:nth-child(1) i{
    width: 15px;
    height: 14px;
    display: inline-block;
    background: url(https://static.mllres.com/mll/common/header/nav/i/nav.png) no-repeat 0 -38px;
    vertical-align: middle;
}
header .longin li a{
    color:#717171;
}
header .longin li a:hover{
    color:#e62318;
}
/* 个人中心 */
header .personal{
    float: right;
}
header .personal>ul>li{
    float: left;
    padding: 0 8px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    position: relative;
}
header .personal>ul>li a{
    color:#717171;
}
header .personal>ul>li a:hover{
    color:#e62318;
}
header .personal>ul>li>a>strong{
    margin-left: 5px;
}
header .personal>ul>li a>i{
   display:inline-block;
   width: 7px;
   height: 4px;
   background: url(https://static.mllres.com/mll/common/header/nav/i/nav.png) 0 0 no-repeat;
   margin-left: 7px;
   vertical-align: middle;
   transition: transform .3s;
}
header .personal>ul>li:hover a i{
    transform:rotate(-180deg);
}
header .personal>ul>li:hover{
    background-color: white;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
}
header .personal>ul>li:nth-child(5):hover{
    background-color: white;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
header .personal>ul>li>span{
    display: inline-block;
    width: 17px;
    height: 14px;
    margin-top: 7px;
    margin-right: 5px;
    vertical-align:text-bottom;
}
header .personal>ul>li:nth-child(2)>span{
    background: url(https://static.mllres.com/mll/common/header/nav/i/nav.png) 0 -52px no-repeat;
}
header .personal>ul>li:nth-child(3)>span{
    background: url(https://static.mllres.com/mll/common/header/nav/i/nav.png) 0 -9px no-repeat;
}
header .personal>ul>li>div{
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #eaeaea;
    border-top: none;
    left: -1px;
    top: 29px;
}
header .personal>ul>li:nth-child(1)>div{
    width: 67px;
    padding: 3px 10px 6px;
}
header .personal>ul>li:nth-child(1)>div a{
    display: block;
    line-height: 22px;
}
header .personal>ul>li:nth-child(2)>div{
    width: 245px;
}
header .personal>ul>li:nth-child(2)>div div{
    padding: 30px 15px;
    line-height: 48px;
    color:#717171;
}
header .personal>ul>li:nth-child(3)>div{
    padding: 14px 22px;
    text-align: center;
}
header .personal>ul>li:nth-child(4)>div{
    width:55px;
    padding: 3px 10px 6px;
}
header .personal>ul>li:nth-child(4)>div a{
    display: block;
    line-height: 22px;
}
header .personal>ul>li:nth-child(6)>div{
    width:320px;
    left:auto;
    right:-1px;
}
header .personal>ul>li:nth-child(6){
    width: 150px;
}
header .personal>ul>li:nth-child(6)>div div{
    float: left;
    height: 28px;
    line-height: 30px;
    width: 150px;
    padding: 0 5px;
    overflow: hidden;
}
header .personal>ul>li:nth-child(6)>div div strong{
    color: #e62318;
}
header .personal>ul>li:hover>div{
    display: block;
}
.help{
    padding-top: 40px;
} 
.help a{
    color: #333;
}
.help a:hover{
    color: #e62318;
}
/* 主题内容 */
.no-goods{
    width: 1190px;
    margin:20px auto;
    box-sizing: border-box;
    padding: 90px 0 90px 148px;
    border: 1px solid #ddd;
    /* height: 300px; */
}
.no-goods .icon{
    width: 131px;
    height: 93px;
    background: url(https://static.mllres.com/mll/mpg/flow/i/bg2.png) -840px -99px no-repeat;
}
.no-goods .main{
    width: 630px;
}
.no-goods .main .strong{
    font-size: 24px;
    line-height: 50px;
    font-weight: 400;
    color: #454545;
}
.no-goods .main .search .go_buy{
    display: inline-block;
    vertical-align: middle;
    width: 149px;
    height: 40px;
    background: url(https://static.mllres.com/mll/mpg/flow/i/bg2.png) -311px -135px no-repeat;
}
.no-goods .main .search .f14{
    font-size: 14px;
}
.no-goods .main .search .text{
    padding: 0;
    margin: 0;
    width: 250px;
    height: 27px;
    border: 1px solid #cecece;
    vertical-align: top;
    margin-top: 5px;
    outline: none;
}
.no-goods .main .search .submit{
    padding: 0;
    margin: 0;
    width: 60px;
    color: #666;
    height: 29px;
    vertical-align: top;
    border: 1px solid #cecece;
    margin-top: 5px;
    border-left: none;
}
.goods-box{
    width: 1190px;
    margin: 0 auto;
    color:#666;
}
.cart-top{
    margin-top: 10px;
}
.cart-top .cart-top-left{
    height: 26px;
    font-size: 16px;
    line-height: 36px;
    float: left;
    font-weight: 700;
}
.cart-top .cart-top-left a{
    color: #e4393c;
}
.cart-top .cart-top-right{
    margin-bottom: 10px;
    font: 12px/150% Arial,Verdana,"\5b8b\4f53";
    color: #666;
}
.cart-top-right span{
    height: 26px;
    line-height: 26px;
}
.areawrap{
    float: left;
    position: relative;
    top: 0;
    height: 23px;
    background: #fff;
    border: 1px solid #CECBCE;
    padding: 0 20px 0 4px;
    line-height: 23px;
    overflow: hidden;
    padding-right: 20px;
}
.footline{
    clear: both;
    height: 1px;
    background: #e0e0e0;
    position: relative;
}
.footline .line{
    width: 80px;
    height: 2px;
    background: #e4393c;
    position: absolute;
    z-index: 2;
}
.cart-wrap{
    background: #fff;
    margin-bottom: 20px;
}
.cart-thead{
    height: 32px;
    line-height: 32px;
    margin: 0 0 10px;
    padding: 5px 0;
    background: #f3f3f3;
    border: 1px solid #e9e9e9;
    border-top: 0;
}
.cart-col{
    float: left;
}
.t-checkbox{
    height: 18px;
    line-height: 18px;
    padding-top: 7px;
    width: 122px;
    padding-left: 11px;
}
.t-checkbox input{
    margin-right: 5px;
}
.t-goods{
    width: 208px;
}
.t-props,
.t-prices{
    width: 160px;
    height: 32px;
    padding: 0 30px;
    text-align: center;
}
.t-quantity{
    text-align: center;
    width: 80px;
    margin-right: 10px;
}
.t-sum{
    width: 100px;
    padding-right: 95px;
    text-align: right;
}
.cart-item-list{
    margin-bottom: 20px;
}
.shop{
    height: 30px;
    line-height: 30px;
    padding-left: 11px;
}
.cart-checkbox span{
    color: #e4393c;
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
    cursor: pointer;
}
.shop-ex{
    padding-right: 30px;
}
.item-list {
    border-style: solid;
    border-width: 2px 1px 1px;
    border-color: #aaa #f1f1f1 #f1f1f1;
    background: #fff;
}
.item-head {
    height: 26px;
    padding: 5px 10px;
    overflow: hidden;
}
.item-head .header-left {
    width: 750px;
    line-height: 26px;
    float: left;
}
.header-left-p1 {
    color: #666;
}
.header-left-p1 span {
    margin: 0 10px 0 5px;
    padding: 1px 10px;
    border: 1px solid #f48719;
    background: #f48719;
    color: white;
    position: relative;
}
.header-left-p2 {
    margin-left: 20px;
    padding: 0 5px;
    border-radius: 2px;
    background: #e74649;
    color: white;
    display: inline-block;
    height: 19px;
    line-height: 19px;
}
.header-left a:nth-child(3){
    color:#666;
}
#cart-floatbar {
    width: 1190px;
    height: 50px;
    border: 1px solid #f0f0f0;
    background: #fff;
    position: relative;
}
.select-all {
    float: left;
    height: 18px;
    line-height: 18px;
    padding: 16px 0 16px 9px;
}
.operation {
    float: left;
    height: 50px;
    width: 310px;
    line-height: 50px;
    margin: 0 20px
}
.toolbar-right {
    overflow: hidden;
    float: right;
}
.cart-checkbox input {
    margin-right: 5px;
}
.operation a {
    margin-left: 20px;
    display: inline-block;
    height: 50px;
    color: #666;
}
.toolbar-right .btn-area {
    float: right;
}
.price-sum {
    float: right;
    height: 43px;
    line-height: 20px;
    margin: 7px 20px 0 10px;
    color: #666;
    width: 220px;
}
.amount-sum {
    float: right;
    color: #999;
    height: 44px;
    line-height: 20px;
    margin: 7px 0 0;
    cursor: pointer;
}

.price-sum .txt {
    text-align: right;
}
.price-sum .totalprice {
    font-size: 18px;
    color: #e4393c;
    font-weight: 700;
}
.price-sum span {
    width: 110px;
    height: 20px;
    float: left;
    text-align: left;
}
.price-sum .txt {
    text-align: right;
}
.amount-sum em {
    color: #e4393c;
    font-family: verdana;
    font-weight: 700;
    margin: 0 3px;
}
.goods-item-sele {
    background: #fff4e8;
}
.goods-item {
    padding: 0 10px 0 40px;
    position: relative;
}
.goods-info {
    border-top: 1px solid #f1f1f1;
    overflow: hidden;
}
.b-checkbox {
    position: absolute;
    left: 10px;
    width: 30px;
    height: 20px;
    padding: 15px 0 10px 0;
}
.cell {
    float: left;
    margin: 15px;
}
.goods-item .b-goods {
    width: 300px;
    padding: 15px 0 10px 0;
}
.b-goods .goods-name .goods-pic {
    width: 82px;
    height: 82px;
    margin-right: 10px;
    border: 1px solid #eee;
    float: left;
}
.b-price strong{
    margin-right: 22px
}
.goods-d-info {
    height: 40px;
    line-height: 20px;
    overflow: hidden;
}
a {
    color: #666;
}
.settlement{
    display: inline-block;
    width: 120px;
    height: 50px;
    text-align: center;
    line-height:50px;
    padding: 0;
    outline: 0;
    font-size: 20px;
    color: #fff;
    background-color: #e62318;
}
.goods-ex {
    margin-top: 2px;
}
.goods-ex .promise {
    margin: 0 10px 0 0;
    display: block;
    min-height: 18px;
    line-height: 18px;
    margin-bottom: 2px;
}
.b-props {
    height: 80px;
    padding: 15px 10px 0 10px;
    overflow: hidden;
}
.b-props .prop-text {
    width: 160px;
}
.b-price {
    width: 120px;
    padding: 15px 40px 10px 0;
    overflow: hidden;
    text-align: right;
}
.b-price .sales-promotion {
    display: block;
    width: 53px;
    border: 1px solid #f9d2d3;
    color: #e4393c;
    height: 18px;
    text-align: left;
    line-height: 17px;
    padding: 0 15px 0 8px;
    cursor: pointer;
    background: #fff;
    text-decoration: none;
    float: right;
    overflow: hidden;
    position: relative;
}
.b-quantity {
    width: 80px;
    padding: 15px 0 10px;
}
.b-quantity .quantity-form {
    position: relative;
    overflow: hidden;
    height: 20px;
    border: 1px solid #cacbcb;
}
.quantity-text {
    text-align: center;
    height: 20px;
    line-height: 20px;
}
.quantity-form .quantity-down {
    border-right: 1px solid #cacbcb;
}
.quantity-form a {
    height: 18px;
    line-height: 18px;
    padding: 1px 2px;
    width: 16px;
    text-align: center;
    color: #666;
    margin: 0;
    background: #fff;
    float: left;
    vertical-align: baseline;
}
.quantity-form input {
    width: 35px;
    height: 22px;
    float: left;
    text-align: center;
    background: white;
    border: 0;
    outline: none;
}
.quantity-form .quantity-add {
    border-left: 1px solid #cacbcb;
}
.quantity-text {
    text-align: center;
    height: 20px;
    line-height: 20px;
}
.b-sum {
    width: 100px;
    height: 20px;
    padding: 15px 40px 15px 0;
    text-align: right;
}
.b-sum strong {
    color: #333;
    font-weight: 700;
    font-size: 14px;
}
.b-action {
    padding: 15px 0 10px 0;
}
.b-action a {
    display: block;
    width: 75px;
    height: 20px;
}
.b-goods .goods-name .goods-pic img {
    width: 80px;
    height: 80px;
    display: block;
}
/* 尾部 */
.footer-icon{
    background: #f8f8f8;
    padding: 35px 0;
    border-bottom: 1px solid #ededed;
    text-align: center;
}
.footer-icon ._view_{
    width: 1200px;
    margin: 0 auto;
}
.footer-icon ._view_ a{
    width: 150px!important;
    display: inline-block;
    height: 80px;
    text-decoration: none;
    color: #333;
    text-align: center;
}
.footer-icon ._view_ a i{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
.footer-icon ._view_ a span{
    display: inline-block;
    width: 100%;
    font-size: 14px;
    color: #000;
    text-align: center;
    margin-top: 10px;
}
.footer-icon ._view_ a .icon-1{
    background: url(https://static.mllres.com/mll/common/footer/i/footerIcon.png) no-repeat;
}
.footer-icon ._view_ a .icon-2{
    background: url(https://static.mllres.com/mll/common/footer/i/footerIcon.png) no-repeat -50px 0;
}
.footer-icon ._view_ a .icon-3{
    background: url(https://static.mllres.com/mll/common/footer/i/footerIcon.png) no-repeat -100px 0;
}
.footer-icon ._view_ a .icon-4{
    background: url(https://static.mllres.com/mll/common/footer/i/footerIcon.png) no-repeat -150px 0;
}
.footer-icon ._view_ a .icon-5{
    background: url(https://static.mllres.com/mll/common/footer/i/footerIcon.png) no-repeat 0 -50px;
}
.footer-icon ._view_ a .icon-6{
    background: url(https://static.mllres.com/mll/common/footer/i/footerIcon.png) no-repeat -50px -50px;
}
.footer-icon ._view_ a .icon-7{
    background: url(https://static.mllres.com/mll/common/footer/i/footerIcon.png) no-repeat -100px -50px;
}
.footer-icon ._view_ a .icon-8{
    background: url(https://static.mllres.com/mll/common/footer/i/footerIcon.png) no-repeat -150px -50px;
}

._view_{
    width: 1200px;
    margin: 0 auto;
}
.red{
    color:#e62318!important;
}

.footer-extend{
    background: #1f1f1f;
    padding: 21px 0 30px;
}
.footer-extend .footer-link{
    border-bottom: solid 1px #2e2e2e;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.footer-extend .footer-link li{
    height: 20px;
    overflow: hidden;
    color: #777;
    position: relative;
}
.footer-extend .footer-link li .swich{
    padding-right: 25px;
    line-height: 20px;
}
.footer-extend .footer-link li span {
    margin-right: 10px;
}
.footer-extend .footer-link li a {
    color: #777;
    margin-right: 20px;
}
.footer-extend .footer-link li i{
    display: none;
    position: absolute;
    right: 0;
    top: 3px;
    cursor: pointer;
    width: 15px;
    height: 13px;
    background: url(https://static.mllres.com/mll/common/footer/i/footer.png) -23px -265px no-repeat;
}
 .footer-extend .footer-copyrights {
    position: relative;
    color: #777;
}
.footer-extend .footer-copyrights .copyrights {
    height: 40px;
}
.mll-footer .footer-extend .footer-copyrights .copyrights li {
    height: 20px;
    line-height: 20px;
}
.footer-extend .footer-copyrights a {
    color: #777;
}
.mll-footer .footer-extend .footer-copyrights .credit {
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
}
.mll-footer .footer-extend .footer-copyrights .credit li {
    float: left;
    height: 40px;
    padding-left: 15px;
}
.mll-footer .footer-extend .footer-copyrights .credit li i {
    display: inline-block;
    width: 27px;
    margin-right: 5px;
    background-image: url(https://static.mllres.com/mll/common/footer/i/credit.png);
    background-repeat: no-repeat;
}
.mll-footer .footer-extend .footer-copyrights .credit li .icon-1 {
    height: 22px;
    background-position: 0 0;
    margin-top: 12px;
}
.mll-footer .footer-extend .footer-copyrights .credit li .icon-2 {
    height: 21px;
    background-position: 0 -47px;
    margin-top: 11px;
}
.mll-footer .footer-extend .footer-copyrights .credit li .icon-3 {
    height: 25px;
    background-position: 0 -22px;
    margin-top: 9px;
}
.mll-footer .footer-extend .footer-copyrights .credit li .icon-4 {
    width: 32px;
    height: 26px;
    background-position: 0 -69px;
    margin-top: 9px;
}
.mll-footer .footer-extend .footer-copyrights .credit li span {
    width: 50px;
    line-height: 20px;
    display: inline-block;
    vertical-align: top;
}
.mll-footer .footer-extend .footer-copyrights .credit li:nth-child(1) span{
    line-height: 40px;
    height: 40px;
}