@charset "utf-8";
.clear::after{
    content: '';
    display: block;
    clear: both;
    height:0;
    overflow: hidden;
    visibility:hidden;
}
.left{
float: left;
}
.right{
    float: right;
}
.wraper{
    width: 1190px;
    margin: 0 auto;
}
header .Advertisement{
    width: 100%;
    height: 50px;
    background-color: #3c1158;
}
header .Advertisement div{
    width:980px;
    margin: 0 auto;
}
header .head-content{
    background-color: #f8f8f8;
    height: 30px;
    width: 100%;
    line-height: 30px;
    position: relative;
    z-index: 290;
}
.clear::after{
    content: '';
    display: block;
    clear: both;
    height:0;
    overflow: hidden;
    visibility:hidden;
}
.help{
    padding-top: 40px;
} 
.help a{
    color: #333;
}
.help a:hover{
    color: #e62318;
}
/* 主题内容 */
.main {
    padding: 72px 0;
    min-width: 1190px;
    background: #e62318;
}
.content-bar{
    margin: 0 auto;
    width: 1070px;
    position: relative;
}
aside{
    background: #fff;
    position: relative;
    width: 320px;
    min-height: 371px;
    background: #fff;
    padding: 22px 27px 20px 27px;
}
.login-box{
    position: relative;
}
.login-box .error{
    position: absolute;
    background: #fef2f2;
    margin: 5px 0;
    color: #e62318;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    padding: 0 8px;
    border: 1px solid #faccc6;
    left: 0;
    top:53px;
    display: none;
}
.login-box .error i{
    display: inline-block;
    width: 15px;
    height: 15px;
    vertical-align: middle;
    margin: 5px 5px 6px 0;
    background: url(https://static.mllres.com/mll/mpg/login/i/allPuzzle.png) -156px -30px no-repeat;
}
.login-box .error span{
    display: inline-block;
    width: 268px;
}
.login-mode{
    border-bottom: solid 1px rgb(244, 244, 244);
    margin-bottom: 50px;
}
#submit{
    display: block;
    height: 42px;
    line-height: 42px;
    background-color: #e62318;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    border-radius: 3px;
    margin: 12px 0 0 0;
    border: 0;
    width: 100%;
    cursor: pointer;
}
.login-mode a{
    display: inline-block;
    font-size: 16px;
    margin: 0 0 23px 0;
    width: 150px;
    text-align: center;
    color:#666;
}
.login-mode a:nth-child(1){
    border-right: solid 1px #ddd;
}
.login-mode .colour{
    color: #e62318;
    font-weight: 700;
}
.login-form{
    overflow: hidden;
    position: relative;
    height: 180px;
}
.login-form ul{
    width: 1000px;
    position: absolute;
    left:-10px;
}
.login-form ul li{
    float: left;
    margin: 0 10px;
}
.login-form input[type='text'],
.login-form input[type='password']{
    height: 20px;
    font-size: 13px;
    width: 254px;
    padding: 10px 10px 10px 0;
    outline: 0;
    border: 0;
}
.login-form ul li p{
    position: relative;
    height: 40px;
    border: 1px solid #ddd;
    overflow: hidden;
    line-height: 40px;
    margin-bottom: 25px;
}
.phone{
    display: inline-block;
    width: 19px;
    height: 20px;
    background: url(https://static.mllres.com/mll/mpg/login/i/allPuzzle.png) -63px -30px no-repeat;
    margin: 10px 16px 10px 11px;
    vertical-align: middle;
}
.user{
    display: inline-block;
    width: 19px;
    height: 20px;
    background: url(https://static.mllres.com/mll/mpg/login/i/allPuzzle.png) 0 -30px no-repeat;
    margin: 10px 16px 10px 11px;
    vertical-align: middle;
}
.code{
    display: inline-block;
    width: 19px;
    height: 20px;
    margin: 10px 16px 10px 11px;
    vertical-align: middle;
    background: url(https://static.mllres.com/mll/mpg/login/i/allPuzzle.png) -21px -30px no-repeat;
}
.sms-btn{
    position: absolute;
    color: #333!important;
    background: #f0f0f0;
    height: 28px;
    width: 104px;
    text-align: center;
    line-height: 28px;
    border-radius: 3px;
    margin-top: 6px;
    right: 6px;
}
.login-form input[type='submit']{
    display: block;
    height: 42px;
    line-height: 42px;
    background-color: #e62318;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    border-radius: 3px;
    margin: 12px 0 0 0;
    border: 0;
    width: 100%;
    cursor: pointer;
}
.login-other{
    position: absolute;
    width: 100%;
    left: 0px;
    margin: 46px 0 0 0;
    vertical-align: middle;
    border-top: solid 1px rgb(244, 244, 244);
}
.login-other a{
    display: inline-block;
    border-right:solid 1px rgb(244, 244, 244);
    width: 32%;
    height: 30px;
    margin:25px 0;
    color: #999;
    text-align: center;
}
.login-other a:nth-child(3){
    border: 0;
}
.login-other a i{
    margin-right: 6px;
    vertical-align: middle;
    display: inline-block;
    width: 28px;
    height: 28px;
}
.login-other a:nth-child(1) i{
    background: url(https://static.mllres.com/mll/mpg/login/i/allPuzzle.png) no-repeat -73px -172px;
}
.login-other a:nth-child(2) i{
    background: url(https://static.mllres.com/mll/mpg/login/i/allPuzzle.png) no-repeat -73px -80px;
}
.login-other a:nth-child(3) i{
    background: url(https://static.mllres.com/mll/mpg/login/i/allPuzzle.png) no-repeat -73px -108px;
}
/* 尾部 */
.footer-icon{
    background: #f8f8f8;
    padding: 35px 0;
    border-bottom: 1px solid #ededed;
    text-align: center;
}
.footer-icon ._view_{
    width: 1200px;
    margin: 0 auto;
}
.footer-icon ._view_ a{
    width: 150px!important;
    display: inline-block;
    height: 80px;
    text-decoration: none;
    color: #333;
    text-align: center;
}
.footer-icon ._view_ a i{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
}
.footer-icon ._view_ a span{
    display: inline-block;
    width: 100%;
    font-size: 14px;
    color: #000;
    text-align: center;
    margin-top: 10px;
}
.footer-icon ._view_ a .icon-1{
    background: url(https://static.mllres.com/mll/common/footer/i/footerIcon.png) no-repeat;
}
.footer-icon ._view_ a .icon-2{
    background: url(https://static.mllres.com/mll/common/footer/i/footerIcon.png) no-repeat -50px 0;
}
.footer-icon ._view_ a .icon-3{
    background: url(https://static.mllres.com/mll/common/footer/i/footerIcon.png) no-repeat -100px 0;
}
.footer-icon ._view_ a .icon-4{
    background: url(https://static.mllres.com/mll/common/footer/i/footerIcon.png) no-repeat -150px 0;
}
.footer-icon ._view_ a .icon-5{
    background: url(https://static.mllres.com/mll/common/footer/i/footerIcon.png) no-repeat 0 -50px;
}
.footer-icon ._view_ a .icon-6{
    background: url(https://static.mllres.com/mll/common/footer/i/footerIcon.png) no-repeat -50px -50px;
}
.footer-icon ._view_ a .icon-7{
    background: url(https://static.mllres.com/mll/common/footer/i/footerIcon.png) no-repeat -100px -50px;
}
.footer-icon ._view_ a .icon-8{
    background: url(https://static.mllres.com/mll/common/footer/i/footerIcon.png) no-repeat -150px -50px;
}

._view_{
    width: 1200px;
    margin: 0 auto;
}
.red{
    color:#e62318!important;
}

.footer-extend{
    background: #1f1f1f;
    padding: 21px 0 30px;
}
.footer-extend .footer-link{
    border-bottom: solid 1px #2e2e2e;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.footer-extend .footer-link li{
    height: 20px;
    overflow: hidden;
    color: #777;
    position: relative;
}
.footer-extend .footer-link li .swich{
    padding-right: 25px;
    line-height: 20px;
}
.footer-extend .footer-link li span {
    margin-right: 10px;
}
.footer-extend .footer-link li a {
    color: #777;
    margin-right: 20px;
}
.footer-extend .footer-link li i{
    display: none;
    position: absolute;
    right: 0;
    top: 3px;
    cursor: pointer;
    width: 15px;
    height: 13px;
    background: url(https://static.mllres.com/mll/common/footer/i/footer.png) -23px -265px no-repeat;
}
 .footer-extend .footer-copyrights {
    position: relative;
    color: #777;
}
.footer-extend .footer-copyrights .copyrights {
    height: 40px;
}
.mll-footer .footer-extend .footer-copyrights .copyrights li {
    height: 20px;
    line-height: 20px;
}
.footer-extend .footer-copyrights a {
    color: #777;
}
.mll-footer .footer-extend .footer-copyrights .credit {
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
}
.mll-footer .footer-extend .footer-copyrights .credit li {
    float: left;
    height: 40px;
    padding-left: 15px;
}
.mll-footer .footer-extend .footer-copyrights .credit li i {
    display: inline-block;
    width: 27px;
    margin-right: 5px;
    background-image: url(https://static.mllres.com/mll/common/footer/i/credit.png);
    background-repeat: no-repeat;
}
.mll-footer .footer-extend .footer-copyrights .credit li .icon-1 {
    height: 22px;
    background-position: 0 0;
    margin-top: 12px;
}
.mll-footer .footer-extend .footer-copyrights .credit li .icon-2 {
    height: 21px;
    background-position: 0 -47px;
    margin-top: 11px;
}
.mll-footer .footer-extend .footer-copyrights .credit li .icon-3 {
    height: 25px;
    background-position: 0 -22px;
    margin-top: 9px;
}
.mll-footer .footer-extend .footer-copyrights .credit li .icon-4 {
    width: 32px;
    height: 26px;
    background-position: 0 -69px;
    margin-top: 9px;
}
.mll-footer .footer-extend .footer-copyrights .credit li span {
    width: 50px;
    line-height: 20px;
    display: inline-block;
    vertical-align: top;
}
.mll-footer .footer-extend .footer-copyrights .credit li:nth-child(1) span{
    line-height: 40px;
    height: 40px;
}